OUTPUT_ADAPTER='opensearch'
OUTPUT_ADAPTER_HOST='opensearch'
OUTPUT_ADAPTER_PORT=9200
FILE_THREADS=2
WORKER_THREADS=2
STORAGE_TYPE='LOCAL'
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_REGION=''
AWS_BUCKET_NAME=''